/* format tableau */
#fondtable {
	background: url(carte.jpg);
	border-width: 1px;
	border-color: black;
	border-style: solid;
	border-collapse: collapse;
	width:400px;
	height:400px;
}
/* Largeur et hauteur des cases de la grille */
td {
	width:40px;
	height:40px;
	border-width: 1px;
	border-color: black;
	border-style: solid;
}
/* Couleurs des cases, avec opacité de 0.9 */
.bad {
	background:rgba(200,0,0,0.9);
}
.good {
	background:cyan;
}
/* Gestion des blocs de classe "cadre" */
.cadre {
	display: inline-block;
	width: 450px;
	margin: 1em;
	font-size: 18px;
}
.ligne{
    background: rgb(255, 150, 22, 0.8);
}

.colonne{
    background: rgba(0, 63, 197, 0.8);
}
